:root {
  --pink: #ff61a9;
  --pink-gradient: linear-gradient(136.83deg, #ff5db0 3.15%, #ff8a65 96.7%);
  --purple-gradient: linear-gradient(67.51deg, #5a0389 -1.84%, #553bd2 106.46%);
  --imageWidth1024: 300px;
  --imageWidth450: 200px;
}

span {
  display: inline-block;
  overflow: auto;
}

.inline {
  display: inline;
  margin: 0;
}

.container {
  margin-top: 209px;
  padding-left: 69px;
  padding-right: 179px;
}

.ribbon-container {
  top: 0;
  right: 0px;
  position: absolute;
}

.ribbon-app {
  display: none;
}

.ellipse-1-container {
  position: absolute;
  left: 0px;
  top: 0px;
}

.header-wrap {
  position: relative;

  padding-top: 126px;

  display: flex;
  align-items: center;
  gap: 78px;
}

.header-title {
  padding-left: 47px;

  font-size: 64px;
  line-height: 80px;

  min-width: 587px;
  word-wrap: break-word;
  white-space: pre-line;
}

.header-description {
  font-size: 64px;
  line-height: 80px;
}

#test {
  display: inline-block;
}

#test {
  word-wrap: break-word;
  white-space: pre-line;
}

.pink-text {
  color: #ff6183;
}

.purple-gradient-text {
  background: var(--purple-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text {
  background: var(--pink-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.image-container {
  display: flex;
  align-items: center;
}

.ellipse-2-app {
  display: none;
}

@media screen and (max-width: 1279px) {
  .header-title {
    min-width: auto;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding-left: 32px;
  }

  .header-wrap {
    gap: 78px;
  }

  .ribbon-container {
    top: 0;
    right: 0;
  }

  .ribbon {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: 80%;
    height: 80%;
  }

  .ellipse-1 {
    width: 80%;
    height: 80%;
  }

  .header-title {
    padding-right: 0px;
  }

  .ellipse-2 {
    display: block;
    padding-right: 50px;
    width: var(--imageWidth1024);
  }

  .header-title {
    font-size: 48px;
    line-height: 72px;
  }
}

@media screen and (max-width: 850px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .header-wrap {
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }

  .header-title {
    text-align: center;
    margin-bottom: 0px;

    font-size: 36px;
    line-height: 54px;
    padding-left: 0;
    padding-right: 0;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ellipse-2 {
    padding-right: 0;
  }
}

@media screen and (max-width: 769px) {
  .ribbon {
    display: none;
  }

  .ribbon-app {
    display: block;
  }

  .ellipse-1-container {
    display: none;
  }

  .container {
    margin-top: 0;
    padding: 0 16px;
  }

  .header-wrap {
    justify-content: flex-start;
    padding-top: 82px;
    gap: 32px;
  }

  .header-title {
    width: 100%;
    font-size: 32px;
    line-height: 38px;
    text-align: left;
  }

  .header-description {
    font-size: 36px;
    line-height: 42px;
  }

  .header-description strong {
    font-size: 32px;
    line-height: 38px;
  }

  #test {
    margin: 0;
  }

  .image-container {
    width: 100%;
    justify-content: flex-start;
  }

  .ellipse-2 {
    display: none;
  }

  .ellipse-2-app {
    display: block;
    width: 100%;
    height: 460px;
  }

  .image-header {
    display: block;
  }
}
