.container {
    /* width: 100%; */
    min-height: 100vh;
    padding: 40px 120px 0px;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 38px;
    color: #1B3765;
    margin-top: 50px;
}

.wrap {
    width: 100%;
    display: flex;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
    position: relative;
    padding-top: 80px;
}

.question-mark {
    position: absolute;
    right: 0px;
    top: 20px;
    width: 100px;
    height: 120px;
}

.man {
    width: 100%;
}

.subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    color: #71BA44;
}

.content {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 42px;
    color: #1B3765;
    margin-top: 50px;
}

@media (max-width:960px) {
    .wrap {
        flex-direction: column;
    }

    .left {
        width: 100%;
    }
    
    .right {
        padding-top: 50px;
        width: 100%;
    }

    .container {
        padding: 0px 10px 0px;
        min-height: 100%;
    }

    .title {
        font-size: 40px;
        line-height: 45px;
        margin-top: 10px;
    }

    .subtitle {
        font-size: 40px;
        line-height: 45px;
    }

    .content {
        margin-top: 30px;
        font-size: 18px;
        line-height: 22px
    }
}